# =============================================================================
# =OSX
# =============================================================================

.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
#Icon

## Thumbnails
._*

## Files that might appear on external disk

.Spotlight-V100
.Trashes

## Directories potentially created on remote AFP share

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*~
.svn
.cvs
*.bak
*.swp

# =============================================================================
# =Windows
# =============================================================================

## Windows image file caches

Thumbs.db
ehthumbs.db


## Folder config file

Desktop.ini

## Recycle Bin used on file shares

$RECYCLE.BIN/

## Windows Installer files

*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk

# =============================================================================
# =WordPress
# =============================================================================

*.log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-admin/
wp-includes/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/cache/supercache/*


# =============================================================================
# =WPengine
# =============================================================================

.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# =============================================================================
# =SASS / =SCSS
# =============================================================================

.sass-cache
*.css.map

# =============================================================================
# =NODE.JS
# =============================================================================

## Logs

logs
*.log

## Runtime data

pids
*.pid
*.seed

## Directory for instrumented libs generated by jscoverage/JSCover

lib-cov

## Coverage directory used by tools like istanbul

coverage

## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)

.grunt

## node-waf configuration

.lock-wscript

## Compiled binary addons (http://nodejs.org/api/addons.html)

build/Release

## Dependency directory
## https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

## CodeKit
codekit.cache



# =============================================================================
# =large/disallowed file types
# a CDN should be used for these
# =============================================================================

*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
