/* ----------------------------------------------------------------------------------
*
*	Pixel Maker - Variables
*
-------------------------------------------------------------------------------------*/

// Colours
$pm-color--primary:         #3e3936;
$pm-color--secondary:       #bae6cd;
$pm-color--secondary-dark:  #95cecb;
$pm-color--tertiary:        #deac6c;


// Typefaces
$pm-typeface--primary:      'Verdana', sans-serif;


// Spritemap sizes
$pm-sprite-item--width:     64px;
$pm-sprite-item--height:    136px;